$color-primary: #ee592e;
$color-primary-2: #f3cda9;
$color-secondary: #774836;
$color-secondary-2: #537479;

$off-black: #292929;
$white: #fff;

// The weeknd - Thursday
$cols: (
    0: #ffff3b,
    1: #fdb539,
    2: #ef6737,
    3: #e24632,
    4: #cc4a39,
    5: #b0614b,
    6: #7e7d7b,
    7: #4686a1
)
